{% extends 'single_pages/layout.html' %}
{% block content %}

    {% load static %}
    <title>My_page</title>


    <main id="main">

        <!-- ======= Breadcrumbs ======= -->
        <div class="breadcrumbs">
            <div class="page-header d-flex align-items-center">
                <div class="container position-relative">
                    <div class="row d-flex justify-content-center">
                        <div class="col-lg-6 text-center">
                            <h2>reserve meal</h2>
                            <p>마이페이지</p>
                        </div>
                    </div>
                </div>
            </div>
            <nav>
                <div class="container">
                    <ol>
                        <li><a href="#">my_page</a></li>
                        <li>reserve meal</li>
                    </ol>
                </div>
            </nav>
        </div><!-- End Breadcrumbs -->

        {# 밥약 처리 부분 #}
        <section id="blog" class="blog">
            <div class="container" data-aos="fade-up">
                <div class="row ">
                    {# 쪽지보내기 버튼 #}
                    <div class="messaging-select"
                         style="display: flex; justify-content: space-between; padding-bottom: 20px">
                        <div class="messaging-select-left" style="display: flex;">
                            <div class="d-grid gap-2 d-md-flex justify-content-md-end" style="padding-right: 10px">
                                <div class="pricing pricing-item">
                                    <a href="{% url 'message_list' %}" class="buy-btn">쪽지</a>
                                </div>
                            </div>

                            <div class="d-grid gap-2 d-md-flex justify-content-md-end">
                                <div class="pricing pricing-item">
                                    <a href="#" class="buy-btn">밥약</a>
                                </div>
                            </div>
                        </div>
                    </div>

                    {% regroup all_meals|dictsortreversed:'timestamp' by user as all_messages_group %}
                    {# 쪽지 기능 #}
                    {% for group in all_messages_group %}
                        {% for message in group.list %}
                            {% for user in all_users %}
                                {% if not user == message.receiver and not user == message.sender %}
                                {% else %}
                                    <div class="posts-list">
                                        <article>
                                            <div class="fist-list"
                                                 style="display: flex; justify-content: space-between;">
                                                <div style="display: flex">
                                                    <p class="title"><a
                                                            href="/messaging/{{ user.id }}/">
                                                        {% if not message.anonymous %}
                                                            {{ user }}
                                                        {% else %}
                                                            익명
                                                        {% endif %}
                                                    </a>
                                                    </p>
                                                    {% if message.sender == request.user %}

                                                        <p>보낸 메세지</p>
                                                    {% elif message.receiver == request.user %}
                                                        <p>받은 메세지</p>
                                                    {% endif %}


                                                </div>

                                                <div style="display: flex">
                                                    <div style="display: flex; padding-right: 10px">
                                                        {% if message.anonymous and message.receiver == request.user %}
                                                            <div class="messaging-select-right d-grid gap-2 d-md-flex justify-content-md-end">
                                                                <div class="pricing pricing-item" style="padding: 5px">
                                                                    <button
                                                                            class="buy-btn">수락
                                                                    </button>
                                                                </div>
                                                            </div>
                                                            <div class="messaging-select-right d-grid gap-2 d-md-flex justify-content-md-end">
                                                                <div class="pricing pricing-item" style="padding: 5px">
                                                                    <button type="button"
                                                                            class="buy-btn">거절
                                                                    </button>
                                                                </div>
                                                            </div>

                                                        {% endif %}
                                                    </div>
                                                    <p>{{ message.timestamp }}</p>
                                                </div>
                                            </div>

                                            <div>
                                                {% if request.user in  message.sender or message.receiver %}
                                                    <p>{{ message.content }}</p>
                                                {% endif %}
                                            </div>
                                        </article>
                                    </div>
                                {% endif %}
                            {% endfor %}
                        {% endfor %}
                    {% endfor %}
                </div>
            </div>
        </section>
    </main>
{% endblock %}