{% extends 'single_pages/layout.html' %}
{% block content %}

    {% load static %}
    <title>My_page</title>


    <main id="main">

        <!-- ======= Breadcrumbs ======= -->
        <div class="breadcrumbs">
            <div class="page-header d-flex align-items-center">
                <div class="container position-relative">
                    <div class="row d-flex justify-content-center">
                        <div class="col-lg-6 text-center">
                            <h2>reserve meal</h2>
                            <p>마이페이지</p>
                        </div>
                    </div>
                </div>
            </div>
            <nav>
                <div class="container">
                    <ol>
                        <li><a href="{% url 'my_page' %}">my_page</a></li>
                        <li>reserve meal</li>
                    </ol>
                </div>
            </nav>
        </div><!-- End Breadcrumbs -->

        {# 밥약 처리 부분 #}
        <section id="blog" class="blog">
            <div class="container" data-aos="fade-up">
                <div class="row ">
                    {# 쪽지보내기 버튼 #}
                    <div class="messaging-select"
                         style="display: flex; justify-content: space-between; padding-bottom: 20px">
                        <div class="messaging-select-left" style="display: flex;">
                            <div class="d-grid gap-2 d-md-flex justify-content-md-end" style="padding-right: 10px">
                                <div class="pricing pricing-item">
                                    <a href="{% url 'message_list' %}" class="buy-btn">쪽지</a>
                                </div>
                            </div>

                            <div class="d-grid gap-2 d-md-flex justify-content-md-end">
                                <div class="pricing pricing-item">
                                    <a href="{% url 'reserve_list' %}" class="buy-btn">밥약</a>
                                </div>
                            </div>
                        </div>
                    </div>

                    {% regroup all_meals|dictsortreversed:'timestamp' by user as all_meals_group %}

                    {# 쪽지 기능 #}
                    {% for group in all_meals_group %}
                        {% for meal in group.list %}
                            {% if request.user == meal.receiver or request.user == meal.sender %}
                                <div class="posts-list">
                                    <article>
                                        {#                                    <article><a href="{% url '' pk=meal.pk %}">#}
                                        <div class="fist-list" style="display: flex; justify-content: space-between;">
                                            <div style="display: flex">
                                                <h2 class="title">
                                                    <div><a href="{{ meal.get_absolute_url }}">{{ user }}</a></div>
                                                </h2>

                                                {% if meal.sender == request.user %}
                                                    <p>sent</p>
                                                {% elif meal.receiver == request.user %}
                                                    <p>received</p>
                                                {% endif %}
                                            </div>
                                            <p>{{ meal.timestamp }}</p>
                                        </div>

                                        {% if request.user == meal.sender or request.user == meal.receiver %}
                                            <p>{{ meal.content }}</p>
                                        {% endif %}
                                    </article>
                                </div>
                            {% endif %}
                        {% endfor %}
                    {% endfor %}
                </div>
            </div>
        </section>
    </main>
{% endblock %}