{% extends 'single_pages/layout.html' %}
{% block content %}

    {% load static %}
    <title>My_page</title>


    <main id="main">

        <!-- ======= Breadcrumbs ======= -->
        <div class="breadcrumbs">
            <div class="page-header d-flex align-items-center">
                <div class="container position-relative">
                    <div class="row d-flex justify-content-center">
                        <div class="col-lg-6 text-center">
                            <h2>message</h2>
                            <p>마이페이지</p>
                        </div>
                    </div>
                </div>
            </div>
            <nav>
                <div class="container">
                    <ol>
                        <li><a href="{% url 'message' %}">message</a></li>
                        <li>messsage_detail</li>
                    </ol>
                </div>
            </nav>
        </div><!-- End Breadcrumbs -->

        {#    사용자별 메세지 묶어서 보여주기#}
        <article class="blog-details">
            <h1 class="title">{{ book.title }}</h1>

            <!-- Book Info Container -->
            <div class="book-info-container">
                <div class="book-info">
                    <p><strong>저자:</strong> {{ book.author }}</p>
                    <p><strong>출판사:</strong> {{ book.publisher }}</p>
                    <p><strong>정가:</strong> {{ book.price_set }}원</p>
                    <p><strong>판매가:</strong> {{ book.price }}원</p>
                </div>
            </div>
            <hr>

                        <!-- Trace and Status -->
                        <div class="trace-status-container">
                            <p><strong>필기한 흔적 :</strong> {{ book.traces }}</p>
                            <p><strong>보존 상태:</strong> {{ book.status }}</p>
                        </div>
                        <hr>

                        <!-- Book Image -->
                        <div class="book-image-container">
                            <img src="{{ book.img_file.url }}" alt="{{ book.title }}" class="book-image">
                        </div>
                    </article>

{% endblock %}