{% extends 'single_pages/layout.html' %}
{% block content %}

    {% load static %}
<div style="display: flex">
    <div class="d-grid gap-2 d-md-flex justify-content-md-start">
        <div class="pricing pricing-item">
            <a href="{% url 'new_message' %}" class="buy-btn">쪽지보내기</a>
        </div>
    </div>

    <div class="d-grid gap-2 d-md-flex justify-content-md-end">
        <div class="pricing pricing-item">
            <a href="{% url 'message_list' %}" class="buy-btn">쪽지</a>
        </div>
    </div>

    <div class="d-grid gap-2 d-md-flex justify-content-md-center">
        <div class="pricing pricing-item">
            <a href="{% url 'reserve_list' %}" class="buy-btn">밥약</a>
        </div>
    </div>
</div>

{% endblock %}